@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Chivo Mono', monospace ;
}


.logo{
    text-align: center;
    margin-top: 20px;
}
.contenitore-text{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 25px;
    border-top: 2px solid orange;
    background-color:rgba(240, 218, 168, 0.4);
}
.text-1{
    padding:12px;
    color: rgb(33, 105, 105) ;
}
.contenitore{
    width: 720px;
    margin: 70px auto 0 auto;
}
h1{
    text-align: center;
}

.text-2{
    margin: 20px 0 15px 0;
}

#focaccia{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.2);
}
.text-3{
text-align: center;
margin-top: 15px;
color: rgba(136, 136, 136, 0.9);
}
.blocco{
    width: 100%;
    height: 100%;
    border-left:2px solid orange;
    padding-left: 20px;
    margin-top: 30px;
}

.ingredienti, .metodi{
    width: 100%;
    height: 100%;
    border-bottom:2px solid rgb(135, 224, 213);
    margin: 50px 0 30px 0;
    padding-bottom: 30px ;
}
.text-4, .text-6 {
    font-size: 30px;
}

.not-order{
    width: 100%;
    height: 100%;
}
.text-5{
    font-size: 20px;
}
ul{
    padding-left: 35px;
    margin-top: 10px;
}

.lista{
    font-size: 18px;
    padding-bottom: 15px;
}

ol{
    padding-left: 35px;
    margin-top: 10px;
}

.seconda{
    margin-top: 20px;
}



footer{
    margin: 20px auto 0 auto;
    width: 720px;
    font-size: 20px;
}

a{
    color:rgb(33, 105, 105);
}

.text-8{
    color: rgb(180, 59, 15);
    font-size: 25px;
}